@model BlogApplication.Models.ViewModel.BlogViewModel

<h1>Add Blog</h1>

<form asp-action="Add" method="post">
    <div class="form-group mb-3">
        <label asp-for="Heading"></label>
        <input asp-for="Heading" class="form-control" />
        <span asp-validation-for="Heading" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="PageTitle"></label>
        <input asp-for="PageTitle" class="form-control" />
        <span asp-validation-for="PageTitle" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" id="content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Image Upload</label>
        <input type="file" id="featuredImageUpload" class="form-control" />

        <img id="featuredImageDisplay" style="display:none; max-width:200px; margin-top:10px;" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="ImageURL"></label>
        <input asp-for="ImageURL" id="featuredImageUrl" class="form-control" />
        <span asp-validation-for="ImageURL" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="Visable" class="form-check-input" />
        <label asp-for="Visable" class="form-check-label"></label>
    </div>

    <div class="form-group mb-3">
        <label>Tags</label>
        <div>
            @foreach (var tag in Model.Tags)
            {
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           name="SelectedTags"
                           value="@tag.Value"
                           id="tag_@tag.Value" />
                    <label class="form-check-label" for="tag_@tag.Value">@tag.Text</label>
                </div>
            }
        </div>
    </div>

    <input type="hidden" asp-for="CreatedAt" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script>
        var editor = new FroalaEditor('#content', {
             imageUploadURL: '/api/images'
         });

        const featuredUploadElement = document.getElementById('featuredImageUpload');
        const featuredImageUrlElement = document.getElementById('featuredImageUrl');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');

        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            })
            .then(response => response.json())
            .then(result => {
                featuredImageUrlElement.value = result.link;
                featuredImageDisplayElement.src = result.link;
                featuredImageDisplayElement.style.display = 'block';
            });
        }

        featuredUploadElement.addEventListener('change', uploadFeaturedImage);
    </script>
}
